<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

    <f:asset.script identifier="datableFunctions" priority="1">
        const getLang = () => {
            const langMap = {
                en: 'English',
                da: 'Danish'
            };
            const lang = window.navigator.userLanguage || window.navigator.language || en;
            const l = lang.split('-',1);
            return `<f:format.raw>{f:cObject(typoscriptObjectPath: 'ucph_ce_tables.datatableLangFilePath')}</f:format.raw>${langMap[l]}.json`;
        };
    </f:asset.script>
    <f:asset.script identifier="datableInit" src="EXT:ucph_ce_tables/Resources/Public/JavaScript/Dist/ku-init-datatables.min.js" />

</html>

