<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <f:layout name="Default" />
    <f:section name="Main">

        <f:if condition="{table}">
            <f:if condition="{data.tx_ucph_content_tables_enable_datatable} != 1">
                <f:then>
                    <div class="table-responsive">
                        <f:render section="tableContent" arguments="{_all}" />
                    </div>
                </f:then>
                <f:else>
                    <f:render section="tableContent" arguments="{_all}" />
                </f:else>
            </f:if>
        </f:if>

        <f:section name="tableContent">
            <table class="table{f:if(condition: data.table_class, then: ' table-{data.table_class}')} table_{data.uid}{f:if(condition: data.tx_ucph_content_tables_enable_datatable, then: ' table-datatable')}"{f:if(condition: data.tx_ucph_content_tables_enable_datatable, then: ' data-col="{data.tx_ucph_content_tables_datatable_columnpicker}" data-sortorder="{data.tx_ucph_content_tables_datatable_columnsort}"')}>
                <f:if condition="{data.table_caption}">
                    <caption>{data.table_caption}</caption>
                </f:if>
                <f:for each="{table}" as="row" iteration="rowIterator">
                    <f:if condition="{rowIterator.isFirst}">
                        <f:then>
                            <f:if condition="{data.table_header_position} == 1">
                                <f:then>
                                    <thead>
                                </f:then>
                                <f:else>
                                    <tbody>
                                </f:else>
                            </f:if>
                        </f:then>
                        <f:else>
                            <f:if condition="{rowIterator.isLast}">
                                <f:if condition="{data.table_tfoot}">
                                    </tbody>
                                    <tfoot>
                                </f:if>
                            </f:if>
                        </f:else>
                    </f:if>
                    <tr>
                        <f:for each="{row}" as="cell" iteration="columnIterator">
                            <f:render partial="Columns" arguments="{_all}" />
                        </f:for>
                    </tr>
                    <f:if condition="{rowIterator.isFirst}">
                        <f:then>
                            <f:if condition="{data.table_header_position} == 1">
                                </thead>
                                <tbody>
                            </f:if>
                        </f:then>
                        <f:else>
                            <f:if condition="{rowIterator.isLast}">
                                <f:if condition="{data.table_tfoot}">
                                    <f:then>
                                        </tfoot>
                                    </f:then>
                                    <f:else>
                                        </tbody>
                                    </f:else>
                                </f:if>
                            </f:if>
                        </f:else>
                    </f:if>
                </f:for>
            </table>
        </f:section>

        <f:if condition="{data.tx_ucph_content_tables_enable_datatable} == 1">
            <f:asset.css identifier="{data.CType}_css" href="{f:cObject(typoscriptObjectPath: 'ucph_content_tables.pagecss')}" />
        </f:if>
        <f:if condition="{data.tx_ucph_content_tables_enable_datatable} == 1">
            <f:asset.script identifier="{data.CType}_js" src="{f:cObject(typoscriptObjectPath: 'ucph_content_tables.pagejs')}" />
            <f:render partial="Datatable"  arguments="{_all}" />
        </f:if>
    
    </f:section>

</html>